body {
    font-family: 'Roboto', sans-serif;
}


.navbar-brand{
    font-size: 3rem;
}

nav li{
    display: inline-block;
    padding: 5px 75px;
    font-size: 24;

}


.navbar-light .navbar-nav .nav-link {
    color: rgb(51, 161, 51);
    
}


p{
    text-align: center;

}




h1{
    font-size: 18px;
    text-align: center;
}

h2{
    font-size: 18px;
    text-align: center;
    font-style: underline;
    color: green;
}


h3{
    font-size: 18px;
    text-align: center;
    
}
h4{
    font-size: 16px;
    text-align: center;
}

.jumbotron {
    background-image: url(necklace1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 320px;
    padding-left: 1000px
}


img{
    width: 100%
}