
nav{

    text-align: center;
    margin: 20px 0 0;
    padding: 10px;
}

nav ul{
    margin: 0 2px;
    width: 1200px;

}

nav li{
    display: inline-block;
    padding: 5px 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(51, 161, 51);
    
}

p{
    text-align: center;

}

.col-sm{
    align-content: center;

}


h1{
    font-size: 24px;
    text-align: center;

}

.jumbotron {
    background-image: url(necklace1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    padding-top: 200px
}


